In [1]:
!pip install -q -U google-generativeai

In [2]:
import google.generativeai as genai
import os

os.environ['API_KEY'] = "AIzaSyCWom60NZJ_UXeWGIDGjMxUEK2YArobsrE"

c:\Users\hp\Documents\Github\Gemini-Study\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
genai.configure(api_key=os.environ["API_KEY"])

In [4]:
model = genai.GenerativeModel('gemini-pro')

In [13]:
def generate_context(user_question, sql_generated, sql_execution_result, nl_generation_result):
    context = f"""
    User Question : {user_question}

    SQL Generated : {sql_generated}
    
    SQL Execution Result : {sql_execution_result}

    NL Generation Result : {nl_generation_result}

    """
    return context

# Add signal if more than 2 variables
def chart_type_classification(user_question, sql_generated, sql_execution_result, nl_generation_result, chart_types, chart_descriptions):
    system_message = """
    As a data analyst, your task is to create a visualization based on the provided data. 
    Choose the appropriate chart type to visualize the data, ensuring it matches the chart decision rules provided below. 
    After selecting the chart type, return only the selected chart type without its description.
    """
    content = f"""
    {system_message}
    {generate_context(user_question, sql_generated, sql_execution_result, nl_generation_result)}

    Chart Types Option : {", ".join(chart_types)}

    Decision Rules : """ + "\n" + "\n".join(chart_descriptions) + f"""
    
    Chart Types Selected :
    """

    response = model.generate_content(content)

    return response.text

### Test Set

In [7]:
test_set_dict = {
    "line_chart": {
        "user_question": "What is the trend of monthly sales over the past year?",
        "sql_generated": "-- Select monthly sales data for the past year SELECT month, sales_amount FROM sales_data WHERE date >= '2023-05-01' AND date <= '2024-04-30' ORDER BY month;",
        "sql_execution_result": "[{'month': 'May 2023', 'sales_amount': 50000}, {'month': 'June 2023', 'sales_amount': 55000}, {'month': 'July 2023', 'sales_amount': 60000}, {'month': 'August 2023', 'sales_amount': 58000}, {'month': 'September 2023', 'sales_amount': 62000}, {'month': 'October 2023', 'sales_amount': 65000}, {'month': 'November 2023', 'sales_amount': 70000}, {'month': 'December 2023', 'sales_amount': 75000}, {'month': 'January 2024', 'sales_amount': 78000}, {'month': 'February 2024', 'sales_amount': 80000}, {'month': 'March 2024', 'sales_amount': 85000}, {'month': 'April 2024', 'sales_amount': 90000}]",
        "nl_generation_result": "Tren sales bulanan tahun yang lalu adalah sebagai berikut: May 2023: $50,000. June 2023: $55,000. July 2023: $60,000. August 2023: $58,000. September 2023: $62,000. October 2023: $65,000. November 2023: $70,000. December 2023: $75,000. January 2024: $78,000. February 2024: $80,000. March 2024: $85,000. April 2024: $90,000."
    },
    "grouped_line_chart": {
        "user_question": "Compare the sales trends of different product categories over the past year.",
        "sql_generated": "-- Select monthly sales data for different product categories over the past year SELECT month, product_category, sales_amount FROM sales_data WHERE date >= '2023-05-01' AND date <= '2024-04-30' AND product_category IN ('Electronics', 'Clothing', 'Home Appliances') ORDER BY month;",
        "sql_execution_result": "[{'month': 'May 2023', 'product_category': 'Electronics', 'sales_amount': 25000}, {'month': 'May 2023', 'product_category': 'Clothing', 'sales_amount': 30000}, {'month': 'May 2023', 'product_category': 'Home Appliances', 'sales_amount': 20000}, {'month': 'June 2023', 'product_category': 'Electronics', 'sales_amount': 28000}, {'month': 'June 2023', 'product_category': 'Clothing', 'sales_amount': 32000}, {'month': 'June 2023', 'product_category': 'Home Appliances', 'sales_amount': 22000}, ...]",
        "nl_generation_result": "The sales trends of different product categories over the past year are as follows: Electronics - May 2023: $25,000, June 2023: $28,000, July 2023: $30,000, August 2023: $29,000, September 2023: $31,000, October 2023: $32,000, November 2023: $33,000, December 2023: $34,000, January 2024: $35,000, February 2024: $36,000, March 2024: $37,000, April 2024: $38,000. Clothing - May 2023: $30,000, June 2023: $32,000, July 2023: $35,000, August 2023: $33,000, September 2023: $36,000, October 2023: $37,000, November 2023: $38,000, December 2023: $39,000, January 2024: $40,000, February 2024: $41,000, March 2024: $42,000, April 2024: $43,000. Home Appliances - May 2023: $20,000, June 2023: $22,000, July 2023: $25,000, August 2023: $24,000, September 2023: $26,000, October 2023: $27,000, November 2023: $28,000, December 2023: $29,000, January 2024: $30,000, February 2024: $31,000, March 2024: $32,000, April 2024: $33,000."
    },
    "bar_chart" : {
        "user_question" : "Give me top 3 department with the highest employee number",
        "sql_generated" : "-- Select the top 3 departments with the highest number of employees SELECT d.department_name, COUNT(e.employee_id) AS employee_count FROM public.departments d JOIN public.employees e ON d.department_id = e.department_id GROUP BY d.department_name ORDER BY employee_count DESC LIMIT 3;",
        "sql_execution_result" : "[{'department_name': 'Shipping', 'employee_count': 7}, {'department_name': 'Finance', 'employee_count': 6}, {'department_name': 'Purchasing', 'employee_count': 6}] ",
        "nl_generation_result" : "The top 3 departments with the highest number of employees are: Shipping with 7 employees. Finance with 6 employees. Purchasing with 6 employees.",
    },
    "grouped_bar_chart": {
        "user_question": "Compare the sales performance of different product categories across different regions.",
        "sql_generated" : "SELECT region, SUM(CASE WHEN product_category = 'Electronics' THEN sales_amount ELSE 0 END) AS electronics_sales, SUM(CASE WHEN product_category = 'Clothing' THEN sales_amount ELSE 0 END) AS clothing_sales, SUM(CASE WHEN product_category = 'Home Appliances' THEN sales_amount ELSE 0 END) AS home_appliances_sales FROM sales_data GROUP BY region;",
        "sql_execution_result": "[{'region': 'North', 'electronics_sales': 5000, 'clothing_sales': 7000, 'home_appliances_sales': 6000}, {'region': 'South', 'electronics_sales': 5500, 'clothing_sales': 7200, 'home_appliances_sales': 6200}]",
        "nl_generation_result": "Comparison of sales performance across different regions: North - Electronics: $5000, Clothing: $7000, Home Appliances: $6000. South - Electronics: $5500, Clothing: $7200, Home Appliances: $6200.",
    },
    "stacked_bar_chart": {
        "user_question": "What is the distribution of sales across different product categories in each region?",
        "sql_generated": "SELECT region, product_category, SUM(sales_amount) AS total_sales FROM sales_data GROUP BY region, product_category;",
        "sql_execution_result": "[{'region': 'North', 'product_category': 'Electronics', 'total_sales': 5000}, {'region': 'North', 'product_category': 'Clothing', 'total_sales': 7000}, {'region': 'North', 'product_category': 'Home Appliances', 'total_sales': 3000}, {'region': 'South', 'product_category': 'Electronics', 'total_sales': 6000}, {'region': 'South', 'product_category': 'Clothing', 'total_sales': 8000}, {'region': 'South', 'product_category': 'Home Appliances', 'total_sales': 2000}]",
        "nl_generation_result": "The distribution of sales across different product categories in each region is as follows: In the North region, Electronics sales amount to $5000, Clothing sales amount to $7000, and Home Appliances sales amount to $3000. In the South region, Electronics sales amount to $6000, Clothing sales amount to $8000, and Home Appliances sales amount to $2000."
    },
    "stacked_bar_chart_2": {
        "user_question": "How does the distribution of values across different categories change over time?",
        "sql_generated": "SELECT year, category, SUM(value) AS total_value FROM data_table GROUP BY year, category;",
        "sql_execution_result": "[{'year': 2018, 'category': 'Category A', 'total_value': 100}, {'year': 2018, 'category': 'Category B', 'total_value': 80}, {'year': 2018, 'category': 'Category C', 'total_value': 50}, {'year': 2019, 'category': 'Category A', 'total_value': 120}, {'year': 2019, 'category': 'Category B', 'total_value': 90}, {'year': 2019, 'category': 'Category C', 'total_value': 60}, {'year': 2020, 'category': 'Category A', 'total_value': 150}, {'year': 2020, 'category': 'Category B', 'total_value': 110}, {'year': 2020, 'category': 'Category C', 'total_value': 70}, {'year': 2021, 'category': 'Category A', 'total_value': 180}, {'year': 2021, 'category': 'Category B', 'total_value': 130}, {'year': 2021, 'category': 'Category C', 'total_value': 80}, {'year': 2022, 'category': 'Category A', 'total_value': 200}, {'year': 2022, 'category': 'Category B', 'total_value': 150}, {'year': 2022, 'category': 'Category C', 'total_value': 90}]",
        "nl_generation_result": "The dataset reveals how the distribution of values across different categories changes over time. In 2018, Category A contributed a total value of 100, Category B contributed 80, and Category C contributed 50. Moving to 2019, Category A increased to 120, Category B to 90, and Category C to 60. In 2020, Category A saw further increase to 150, Category B to 110, and Category C to 70. Continuing to 2021, Category A reached 180, Category B reached 130, and Category C reached 80. Finally, in 2022, Category A peaked at 200, Category B at 150, and Category C at 90."
    },
    "pie_chart": {
        "user_question": "What is the distribution of sales across different product categories?",
        "sql_generated": "SELECT product_category, SUM(sales_amount) AS total_sales FROM sales_data GROUP BY product_category;",
        "sql_execution_result": "[{'product_category': 'Electronics', 'total_sales': 5000}, {'product_category': 'Clothing', 'total_sales': 7000}, {'product_category': 'Home Appliances', 'total_sales': 3000}]",
        "nl_generation_result": "To illustrate the distribution of sales across product categories, Electronics account for $5000, Clothing for $7000, and Home Appliances for $3000."
    },
    "scatter_plot": {
        "user_question": "How does the temperature affect ice cream sales?",
        "sql_generated": "SELECT temperature, ice_cream_sales FROM sales_data;",
        "sql_execution_result": "[{'temperature': 25, 'ice_cream_sales': 200}, {'temperature': 30, 'ice_cream_sales': 220}, {'temperature': 35, 'ice_cream_sales': 250}, {'temperature': 40, 'ice_cream_sales': 280}, {'temperature': 45, 'ice_cream_sales': 300}]",
        "nl_generation_result": "To understand the relationship between temperature and ice cream sales, the data shows that as the temperature increases, ice cream sales also tend to increase: at 25°C, sales are 200 units, at 30°C, sales increase to 220 units, at 35°C, sales further increase to 250 units, at 40°C, sales rise to 280 units, and at 45°C, sales peak at 300 units."
    },
    "grouped_scatter_plot": {
        "user_question": "Compare the relationship between advertising spending and product sales across different product categories.",
        "sql_generated": "SELECT advertising_spending, product_sales, product_category FROM sales_data;",
        "sql_execution_result": "[{'advertising_spending': 5000, 'product_sales': 100, 'product_category': 'Electronics'}, {'advertising_spending': 6000, 'product_sales': 120, 'product_category': 'Electronics'}, {'advertising_spending': 7000, 'product_sales': 130, 'product_category': 'Electronics'}, {'advertising_spending': 8000, 'product_sales': 150, 'product_category': 'Electronics'}, {'advertising_spending': 9000, 'product_sales': 160, 'product_category': 'Electronics'}, {'advertising_spending': 4500, 'product_sales': 90, 'product_category': 'Clothing'}, {'advertising_spending': 5500, 'product_sales': 110, 'product_category': 'Clothing'}, {'advertising_spending': 6500, 'product_sales': 125, 'product_category': 'Clothing'}, {'advertising_spending': 7500, 'product_sales': 140, 'product_category': 'Clothing'}, {'advertising_spending': 8500, 'product_sales': 155, 'product_category': 'Clothing'}]",
        "nl_generation_result": "To compare the relationship between advertising spending and product sales across different product categories, the data reveals varying trends. In the Electronics category, as advertising spending increases from $5000 to $9000, product sales rise from 100 units to 160 units. Conversely, in the Clothing category, product sales increase from 90 units to 155 units as advertising spending rises from $4500 to $8500."
    },
    "histogram": {
        "user_question": "What is the distribution of test scores among students?",
        "sql_generated": "SELECT test_score FROM student_scores;",
        "sql_execution_result": "[{'test_score': 75}, {'test_score': 80}, {'test_score': 90}, {'test_score': 85}, {'test_score': 70}, {'test_score': 95}, {'test_score': 65}, {'test_score': 88}, {'test_score': 92}, {'test_score': 78}, {'test_score': 83}, {'test_score': 87}, {'test_score': 72}, {'test_score': 89}, {'test_score': 82}, {'test_score': 79}, {'test_score': 91}, {'test_score': 84}, {'test_score': 77}, {'test_score': 86}]",
        "nl_generation_result": "The distribution of test scores among students reveals varying levels of performance across the student population."
    },
    "box_plot": {
        "user_question": "What is the distribution of salaries among employees including outliers?",
        "sql_generated": "SELECT salary FROM employee_salaries;",
        "sql_execution_result": "[{'salary': 50000}, {'salary': 60000}, {'salary': 70000}, {'salary': 80000}, {'salary': 55000}, {'salary': 65000}, {'salary': 72000}, {'salary': 85000}, {'salary': 90000}, {'salary': 75000}, {'salary': 58000}, {'salary': 68000}, {'salary': 82000}, {'salary': 92000}, {'salary': 78000}, {'salary': 83000}, {'salary': 92000}, {'salary': 94000}, {'salary': 87000}, {'salary': 92000}]",
        "nl_generation_result": "The distribution of salaries reveals a range of values, with some clustering towards the lower end and a few outliers towards the higher end."
    },
    "grouped_box_plot": {
        "user_question": "How do the salaries vary between different departments including outliers?",
        "sql_generated": "SELECT department, salary FROM employee_salaries;",
        "sql_execution_result": "[{'department': 'Sales', 'salary': 50000}, {'department': 'HR', 'salary': 60000}, {'department': 'Sales', 'salary': 70000}, {'department': 'HR', 'salary': 80000}, {'department': 'Finance', 'salary': 55000}, {'department': 'Sales', 'salary': 65000}, {'department': 'HR', 'salary': 72000}, {'department': 'Finance', 'salary': 85000}, {'department': 'Sales', 'salary': 90000}, {'department': 'HR', 'salary': 75000}, {'department': 'Finance', 'salary': 58000}, {'department': 'Sales', 'salary': 68000}, {'department': 'HR', 'salary': 82000}, {'department': 'Finance', 'salary': 92000}, {'department': 'Sales', 'salary': 78000}, {'department': 'HR', 'salary': 83000}, {'department': 'Finance', 'salary': 92000}, {'department': 'Sales', 'salary': 94000}, {'department': 'HR', 'salary': 87000}, {'department': 'Finance', 'salary': 92000}]",
        "nl_generation_result": "The salaries exhibit variation across different departments, with distinct distributions and patterns observed within each group."
    },
    "area_chart": {
        "user_question": "How does website traffic vary throughout the day?",
        "sql_generated": "SELECT hour, SUM(page_views) AS total_page_views FROM hourly_traffic_data GROUP BY hour;",
        "sql_execution_result": "[{'hour': '00:00', 'total_page_views': 2000}, {'hour': '01:00', 'total_page_views': 2200}, {'hour': '02:00', 'total_page_views': 2500}, {'hour': '03:00', 'total_page_views': 2800}, {'hour': '04:00', 'total_page_views': 3000}, {'hour': '05:00', 'total_page_views': 3200}]",
        "nl_generation_result": "The variation in website traffic throughout the day shows the highest number of page views recorded at 05:00 (3200 page views) and the lowest at 00:00 (2000 page views)."
    },
    "waterfall_chart": {
        "user_question": "What are the major cost components affecting our monthly profit?",
        "sql_generated": "SELECT component, cost FROM monthly_costs;",
        "sql_execution_result": "[{'component': 'Raw Materials', 'cost': -15000}, {'component': 'Labor', 'cost': -20000}, {'component': 'Marketing', 'cost': -10000}, {'component': 'Overhead', 'cost': -12000}]",
        "nl_generation_result": "The breakdown of major cost components impacting our monthly profit reveals Raw Materials as the largest cost reduction (-$15,000), followed by Labor (-$20,000), Marketing (-$10,000), and Overhead (-$12,000)."
    }
}

In [14]:
CHART_DICTIONARY = {}

# Read the text file and directly populate the dictionary
with open('./utils/chart_types.txt', 'r') as file:
    for line in file:
        # Split the line into chart name and description
        chart_name, description = line.strip().split(": ")
        # Add the chart name and description to the dictionary
        CHART_DICTIONARY[chart_name] = description

CHART_TYPES = list(CHART_DICTIONARY.keys())
CHART_DESCRIPTION = [f"{key}: {value}" for key, value in CHART_DICTIONARY.items()]

### Test Pipeline

In [19]:
selected_test_set = test_set_dict['waterfall_chart']
user_question = selected_test_set['user_question']
sql_generated = selected_test_set['sql_generated']
sql_execution_result = selected_test_set['sql_execution_result']
nl_generation_result = selected_test_set['nl_generation_result']

print(user_question)
print(sql_generated)
print(sql_execution_result)
print(nl_generation_result)

What are the major cost components affecting our monthly profit?
SELECT component, cost FROM monthly_costs;
[{'component': 'Raw Materials', 'cost': -15000}, {'component': 'Labor', 'cost': -20000}, {'component': 'Marketing', 'cost': -10000}, {'component': 'Overhead', 'cost': -12000}]
The breakdown of major cost components impacting our monthly profit reveals Raw Materials as the largest cost reduction (-$15,000), followed by Labor (-$20,000), Marketing (-$10,000), and Overhead (-$12,000).

In [20]:
selected_chart = chart_type_classification(user_question, sql_generated, sql_execution_result, nl_generation_result, CHART_TYPES, CHART_DESCRIPTION)
print(selected_chart)

Bar Chart